@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        #pdf_container {
            background: #ccc;
            text-align: center;
            display: none;
            padding: 5px;
            height: 820px;
            overflow: auto;
        }
    </style>
</head>

<div class="jumbotron">
    <h1> Welcome! </h1>
    <p class="lead"> "Search For A Pro!" is here to help you find a professional near you. </p>
</div>

<div>
    <hr />
    <center>
        <h1 style="color: blue"> Wisani Nkuna - u19096527 </h1>
        <h3>Homework 4 Documentation</h3>
        <object data="~/Content/u19096527_UseCase_MotivationNPO.pdf"
                width="800"
                height="500">
        </object>
    </center>


</div>