@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> Welcome! </h1>
    <p class="lead"> "Search For A Pro!" is here to help you find a professional near you. </p>
</div>

<div>
    display pdf
</div>